# Q1

In [8]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

# Q2

In [12]:
for i in range (1,6):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

# Q3

In [27]:
for i in range (1,6,1):
    for j in range (1,i+1,1):
        print(j,end='')
    print()    
for i in range(4,0,-1):
    for j in range (1,i+1,1):
        print(j,end='')
    print()

1
12
123
1234
12345
1234
123
12
1

# Q4

In [29]:
for i in range (5,0,-1):
    for j in range(1,i+1,1):
        print(j,end='')
    print() 
for i in range (1,6):
    for j in range(1,i+1,1):
        print(j,end='')
    print()

12345
1234
123
12
1
1
12
123
1234
12345

# Q5

In [1]:
for i in range (1,6,1):
    for j in range (6-i,0,-1):
        print(j,end = ' ')
    print()
for i in range (1,6,1):
    for j in range (i,0,-1):
        print(j,end = ' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Q6

#

In [63]:
for i in range (1,6):
    print(' '*(6-i),end='')
    for j in range (1,i+1,1):
        print(j,end=" ")
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

# Q7

In [15]:
for i in range (1,6,1):
    for j in range (5,i-1,-1):
        print(j,end="")
    print()

54321
5432
543
54
5

# Q8

In [22]:
for i in range (5,0,-1):
    for j in range (5,i-1,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

# Q9

In [61]:
for i in range (5,0,-1):
    for j in range (1,i+1,1):
        print(j,end='')
    print()

12345
1234
123
12
1

# Q10

In [32]:
t=int(input("enter any no"))
k=1
for i in range (1,t,1):
    for j in range (1,i+1,1):
        if k<=t:
            print(k,end=' ')
            k+=1
    print()

enter any no28
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

# Q11

In [33]:
for i in range (1,6,1):
    for j in range (i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

# Q12

In [35]:
for i in range (1,6,1):
    for j in range (i,i*5+1,5):
        print(j,end=' ')
    print()

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

# Q14

In [44]:
for i in range (1,6):
    for j in range (1,i+1,1):
        print(j,end=' ')
    for k in range (i-1,0,-1):
        print(k,end=' ')
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# Q15

In [59]:
for i in range (1,6,1):
    print(' '*(i-1),end=' ')
    for j in range (1,7-i,1):
        print(j,end=' ')
    print()

 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

# Q16

In [55]:
for i in range (1,6):
    print(' '*(6-i),end='')
    for j in range (1,i+1,1):
        print(j,end=" ")
    print()  
for i in range (1,5,1):
    print(' '*(i),end=' ')
    for j in range (1,6-i,1):
        print(j,end=' ')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

# Q17

In [84]:
for i in range (1,6,1):
    print(' '*(i-1),end=' ')
    for j in range (i,6,1):
        print(j,end=' ')
    print() 
for i in range (1,6,1):
    print(' '*(6-i),end='')
    for j in range (6-i,6,1):
        print(j,end=' ')
    print()

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

# Q18

In [85]:
for i in range (1,6,1):
    print(' '*(i-1),end=' ')
    for j in range (i,6,1):
        print(j,end=' ')
    print() 
for i in range (1,6,1):
    print(' '*(6-i),end='')
    for j in range (6-i,6,1):
        print(j,end=' ')
    print()

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

# Q19

In [86]:
for i in range (1,6,1):
    print(' '*(6-i),end='')
    for j in range (6-i,6,1):
        print(j,end=' ')
    print()

     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

# Q20

In [109]:
for i in range (1,6):
    print(' '*(5-i),end='')
    for j in range (1,i+1,1):
        print(j,end='')
    for k in range (i-1,0,-1):
        print(k,end='')
    print()

    1
   121
  12321
 1234321
123454321